[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
networkx = "*"
numpy = "*"
scipy = "*"
pandas = "*"
rdkit-pypi = "*"
jupyter = "*"
matplotlib = "*"
joblib = "*"
optuna = "*"

[dev-packages]

[requires]
python_version = "3.9"
